In [2]:
import pandas as pd
import numpy as np

In [5]:
a_2013 = pd.read_excel("D:/jupyter notebook/Pandia/data/unprocessed_data/2013/Fecho_de_contas_2013.xlsx", sheet_name="Folha1")
a_2014 = pd.read_excel("D:/jupyter notebook/Pandia/data/unprocessed_data/2014/Fecho_de_contas_2014.xlsx", sheet_name="Folha1")
a_2016 = pd.read_excel("D:/jupyter notebook/Pandia/data/unprocessed_data/2016/Fecho_de_contas_2016.xlsx", sheet_name="Folha1")
a_2017 = pd.read_excel("D:/jupyter notebook/Pandia/data/unprocessed_data/2017/Fecho_de_contas_2017.xlsx", sheet_name="Folha1")
a_2018 = pd.read_excel("D:/jupyter notebook/Pandia/data/unprocessed_data/2018/Fecho_de_contas_2018.xlsx", sheet_name="Folha1")
a_2019 = pd.read_excel("D:/jupyter notebook/Pandia/data/unprocessed_data/2019/Fecho_de_contas_2019.xlsx", sheet_name="Folha1")
a_2020 = pd.read_excel("D:/jupyter notebook/Pandia/data/unprocessed_data/2020/Fecho_de_contas_2020.xlsx", sheet_name="Folha1")

In [6]:
a_2013 = a_2013.rename(columns={'Installation _zone' : 'Installation_zone'})

In [7]:
a_2019 = a_2019.rename(columns={'Conter_caliber': 'Counter_caliber'})
a_2019.head(1)

,Year,Month,Installation_number,Consumer_number,Consumer_type,Installation_zone,Zona_cob,Counter_number,Counter_manufacturer,Counter_caliber,Measure_method,Consumo,Consumption
0,2019,1,1.0,21018.0,1,4,8,345836,SV-RTK,13,L,11,11

In [8]:
frames = [a_2013, a_2014, a_2016, a_2017, a_2018, a_2019, a_2020]
df = pd.concat(frames)
print(len(df.index))
df.sample(5)

2171458

,Year,Month,Consumer_number,Consumer_type,Installation_zone,Measure_method,Consumo,Consumption,Installation_number,Zona_cob,Counter_number,Counter_manufacturer,Counter_caliber
210510,2019,9,1880.0,1,6,M,0,0,1880.0,6.0,9252810,SPX,13.0
128971,2020,5,41199.0,9,65,L,0,0,27518.0,10.0,4988360,LORENZ,13.0
49364,2018,2,39585.0,9,61,L,0,0,26669.0,17.0,965018,REGULADORA,13.0
267605,2019,11,40075.0,1,3,L,7,7,7654.0,3.0,966694,REGULADORA,13.0
64642,2020,3,50886.0,1,4,M,16,16,14304.0,4.0,24815,M.V.,13.0

In [9]:
df.to_csv('data/data_main.csv', index=False)

In [10]:
df = df.drop(columns={'Measure_method', 'Consumo', 'Zona_cob', 'Counter_number', 'Counter_manufacturer', 'Counter_caliber'})
df["Consumer_number"] = df["Consumer_number"].astype(int)
df.head(5)

,Year,Month,Consumer_number,Consumer_type,Installation_zone,Consumption,Installation_number
0,2013,1,21018,1,4,0,NaN
1,2013,1,36690,2,6,5,NaN
2,2013,1,17940,1,6,6,NaN
3,2013,1,14273,1,6,1,NaN
4,2013,1,5,1,6,13,NaN

# Find really nulled consumers for all period
That means that consumer has nulled value for all period, for each month and for each year

In [13]:
df1 = df
df1["Consumer_number"] = df1["Consumer_number"].astype(int)
df1.head(5)

,Year,Month,Consumer_number,Consumer_type,Installation_zone,Consumption,Installation_number
0,2013,1,21018,1,4,0,NaN
1,2013,1,36690,2,6,5,NaN
2,2013,1,17940,1,6,6,NaN
3,2013,1,14273,1,6,1,NaN
4,2013,1,5,1,6,13,NaN

In [14]:
monthes = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
year = [2013, 2014, 2016, 2017, 2018, 2019, 2020]
df_nulled = df1[df1['Consumption'] == 0 ]

In [15]:
df1['Consumer_number'].nunique()

37441

In [16]:
consumers = []
for i in df_nulled['Consumer_number'].unique():
    cons_nulled = df_nulled[df_nulled['Consumer_number'] == i]

    counter_year = 0
    for j in year:
        counter_month = 0
    
        if j in cons_nulled['Year'].unique():
            for k in monthes:
                if k in cons_nulled['Month'].unique():
                    counter_month += 1
    
            if counter_month == 12:
                # print("Counter month:", counter_month)
                counter_year += 1
            # print("Counter year:", counter_year)
        
    if counter_year == 7:
        consumers.append(i)

In [17]:
len(consumers)

6322

In [18]:
cons_nulled = pd.DataFrame(consumers, columns = ['Consumer_number'])
cons_nulled.head()
# len(cons_nulled)

   Consumer_number
0            29616
1            11441
2               21
3               28
4               30

In [20]:
for i in consumers:
    df1.drop(df1[df1['Consumer_number'] == i].index, inplace = True)

In [18]:
print(len(df1))
print(len(df))

NameError: name 'df1' is not defined

In [22]:
df1.to_csv('data/dataset_without_nulled.csv', index=False)

In [23]:
df.to_csv('data/dataset.csv', index=False)

# Create pivot dataset

In [36]:
df = pd.read_csv('data/dataset_without_nulled.csv', low_memory=False)
pivot = df.dropna()
pivot.loc[:,"Installation_number"] = pivot.loc[:,"Installation_number"].astype(int)
pivot.head(5)

D:\.conda\env\pandia\lib\site-packages\pandas\core\indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

,Year,Month,Consumer_number,Consumer_type,Installation_zone,Consumption,Installation_number
48901,2014,1,21018,1,4,0,1
48902,2014,1,36690,2,6,2,2
48903,2014,1,17940,1,6,4,3
48904,2014,1,14273,1,6,0,4
48905,2014,1,5,1,6,8,5

In [37]:
monthes = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [38]:
pivot = pivot.groupby(['Month', 'Year', 'Consumer_number', 'Consumer_type', 'Installation_number'], as_index = False).sum()
pivot = pd.pivot_table(pivot, values='Consumption', index=['Year', 'Consumer_number', 'Consumer_type', 'Installation_number'],
                    columns=['Month'], aggfunc=np.sum)

pivot = pivot.fillna(0)
pivot = pivot.rename_axis(None,axis=1).set_axis(monthes, inplace=False, axis=1).reset_index()
pivot.head()

,Year,Consumer_number,Consumer_type,Installation_number,1,2,3,4,5,6,7,8,9,10,11,12
0,2014,1,3,3069,0.0,270.0,0.0,0.0,0.0,0.0,0.0,0.0,229.0,0.0,0.0,0.0
1,2014,5,1,5,8.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2014,7,2,7,14.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2014,11,1,11,5.0,4.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2014,13,2,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
pivot.to_csv('data/pivot.csv', index=False)